footer {
    background: black none repeat scroll 0 0;
    padding: 0px 0;
}

footer h4 {
    color: white;
    font-family: GothamBold;
    font-size: 14px;
    margin: 0 0 30px;
}
footer h4 short {
    font-size: 85%;
}

.footer_menu a {
    color: white;
    display: inline-block;
    font-size: 12px;
    padding: 0px 0;
    font-family: GothamLight;
}

.footer_menu a:hover {
	cursor: pointer;
}

footer ul li {
    color: white;
    display: block;
    font-size: 12px;
    padding: 1px 0;
    font-family: GothamLight;
}

.foot_horizont_menu li {
    display: inline-block;
    font-family: GothamBold;
    padding: 5px 18px;
}
.foot_horizont_menu a {
    font-family: GothamBook;
    font-size: 12px;
    text-transform: uppercase;
}
.foot_horizont_menu {
    margin: 40px 0;
    text-align: center;
}

.footer_mail input {
    background: transparent none repeat scroll 0 0;
    color: white;
}

.copyright p {
    color: white;
    font-family: GothamLight;
    font-size: 12px;
    text-align: center;
}

.copyright_info p {
    color: white;
    font-family: GothamLight;
    font-size: 10px;
    margin: 21px 0;
    text-align: center;
}

.footer_mail p {
    color: #2cb4db;
    font-family: GothamBold;
    font-size: 300%;
}

.footer_mail {
    padding: 10px 0;
}


/*-----------------------------------------------------------------------------------*/
/* Social Icons
/*-----------------------------------------------------------------------------------*/
.social-icon {
    display: inline-block;
    margin:0 2px 2px 0;
    background-color: #fff;
    border-radius: 50%;
    width:40px;
    height:40px;
    line-height: 40px;
    font-size: 21px;
    overflow: hidden;
}
.p-l-0{
    padding-left: 0;
}
.social-icon a{
    display: inline-block;
    width:40px;
    height:40px;
    line-height: 40px;
    font-size: 21px;
    text-align: center;
    color: #000;
}

.social-icon a:hover{
    background-color: #2cb4db;
    color: #ffffff;
}
.footer-logo a {
    display: block;
    height: 77px;
    width: 177px;
}
.footer-logo img {
    height: 100%;
    padding: 10px 0;
}

.fx-footer {
    font-family: serif;
}

footer input {
    padding: 0 30px !important;
}