.header_pre_menu li {
    display: inline-block;
}

.pre_header {
    padding: 12px 0;
}

.r_cart i {
    font-size: 32px;
    vertical-align: top;
}

.header_pre_menu {
    margin: 0 35px;
}
.search_label .fa {
    background: rgba(0, 0, 0, 0) url("../img/find-ico.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.header_pre_menu a {
    color: white;
    font-family: GothamLight;
    font-size: 14px;
    padding: 10px 15px;
}
.header_pre_menu a:hover{
    color: #2cb4db;
    text-decoration: none;
}
.header_pre_menu a.current {
    color: #2cb4db;
    text-decoration: none;
}
.pre_header .active-login,
.pre_header .login_btn:focus{
    background: white none repeat scroll 0 0;
    color: #23527c;
    text-decoration: none;
}

/* admin bar fix */

.admin-bar header {
    margin-top: 32px;
}


/* end admin bar */
.search_label form {
    position: relative;
}

.header_search_input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: white;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    padding: 5px 20px 5px 0;
    transition: all 0.3s ease 0s;
    width: 90px;
    border-bottom: 1px solid #3f4649;
}


.header_search_input:focus {
    width: 250px;
}

.header_lang {
    box-sizing: border-box;
    height: 25px;
    margin: 0 15px;
    padding: 0 10px;
    vertical-align: top;
}

.pre_header * {
    vertical-align: middle;
}

header {
    background: white none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-header {
    padding-left: 10px;
    position: relative;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    outline: medium none;
    text-decoration: none;
}
.login_btn {
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    line-height: 1;
    margin-right: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
}

.login_btn:hover {
    background: white none repeat scroll 0 0;
    color: #23527c;
    text-decoration: none;
}

.login_btn .fa {
    font-size: 30px;
    line-height: 18px;
    padding-left: 13px;
    padding-right: 8px;
    vertical-align: top;
}


/* language */

.languige {
    height: auto;
}


/* end language */

.dd-selected {
    background: transparent none repeat scroll 0 0 !important;
    color: white !important;
    padding: 5px 25px 5px 5px !important;
}

.dd-selected-text {
    line-height: 1 !important;
}

.dd-select {
    background: transparent none repeat scroll 0 0 !important;
    border: medium none !important;
}

.dd-container {
    width: 125px !important;
}

.dd-select {
    width: 125px !important;
}

.dd-pointer {
    background-image: url("../img/select.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    border: medium none !important;
    height: 9px !important;
    margin-top: -6px !important;
    right: 0 !important;
    width: 16px !important;
}

.lang_container {
    margin: 0 155px 0 50px;
}

.dd-options {
    width: 150px !important;
}

.dd-option-text {
    line-height: 1 !important;
}

.dd-selected-image {
    height: 30px !important;
    width: 45px !important;
}

.dd-pointer.dd-pointer-down.dd-pointer-up {
    border: 0 none !important;
}


/* header main menu */

.navbar-toggle {
    margin: 15px 20px 15px 0;
    width: auto;
}

.header_mein_menu {
    display: inline-block;
    float: left;
    margin: auto;
    padding-right: 0px;
    padding-top: 4px;
}

.header_mein_menu a {
    color: black;
    font-family: GothamBold;
    font-size: 18px;
    letter-spacing: 3.5px;
    padding: 20px 10px !important;
    color: #151216;
}

.header_mein_menu a:hover {
    background: transparent none repeat scroll 0 0 !important;
    color: #2cb4db !important;
}

.header_mein_menu .active > a {
    /*border-top: 2px solid #1591b4;*/
    color: #2cb4db;
}

.header_mein_menu .dropdown-menu .active > a {
    border-top: none;
}

.dropdown-menu li a {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1 !important;
    padding: 22px 20px !important;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #1591b4;
    text-decoration: none;
    background-color: #FFF;
    outline: 0;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #1591b4;
    text-decoration: none;
    background-color: #FFF;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.navbar-brand {
    height: 77px;
    position: relative;
    width: 177px;
    padding: 0;
}

.navbar-brand > img {
    bottom: 0;
    display: inline-block;
    height: 100%;
    margin: auto;
    padding: 10px 0;
    position: absolute;
    top: 0;
}

.caret {
    background: rgba(0, 0, 0, 0) url("../img/split-img.png") no-repeat scroll 0 -45px;
    border: medium none;
    height: 11px;
    margin-left: 11px;
    width: 17px;
}

header .active .caret {
    background-position: 0 -3px;
}

.mobile_plash {
    display: none;
}

.navbar-right .dropdown-menu {
    border-top: 3px solid #2cb4db;
    left: 0;
    padding: 0;
    right: auto;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #f1f1f1;
    border-color: #337ab7;
}

.header_emeil .btn {
    background: #2cb4db none repeat scroll 0 0;
    border: 1px solid #2cb4db;
    border-radius: 0;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.header_emeil {
    float: right;
    padding-top: 18px;
}

.header_emeil input {
    border: 1px solid #2cb4db;
    border-radius: 0;
    box-sizing: border-box;
    height: 45px;
    min-width: 190px;
    margin: 0;
}

.navbar-toggle .icon-bar {
    background: #2cb4db none repeat scroll 0 0;
    border-radius: 1px;
    display: block;
    height: 4px;
    width: 30px;
}



.search_label button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    height: auto;
    line-height: 1em;
    margin: 0;
    padding: 0;
    width: auto;
}

.current-menu-ancestor > a {
    border-top: 1px solid #1591b4;
    color: #1591b4;
}


@media screen and (min-width: 768px) and (max-width: 1600px) {
    .header_mein_menu a {
        font-size: 12px;
        padding: 20px 15px 20px 0 !important;
    }
    .caret {
        margin: 0;
    }
    .header_emeil input {
        min-width: 160px;
    }
    .header_emeil button {
        font-size: 12px;
        min-width: auto !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header_mein_menu {
        float: right;
    }
    .header_mein_menu a {
        font-size: 14px !important;
        padding: 20px 0 20px 30px !important;
    }
}