@media screen and (max-width: 767px) {
    .header_pre_menu a {
        display: block;
    }
    .navbar-collapse .text-right {
        text-align: left;
    }
    .navbar-nav > li > a {
        font-size: 14px;
        padding: 5px 0 !important;
    }
    .dropdown-menu li a {
        padding: 10px !important;
        width: 100% !important;
    }
    .input-group-addon,
    .input-group .form-control,
    .input-group .nbtn {
        display: block !important;
        margin: 5px 0;
        width: 100%;
    }
    .navbar-brand {
        height: 60px;
        padding: 0;
        position: relative;
        width: 110px;
    }
    .navbar-toggle {
        margin: 7px 20px;
    }
    .header_pre_menu {
        margin: 0;
    }
    .login_btn {
        margin: 0;
    }
    .search_label {
        width: 100%;
    }
    .header_search_input:focus {
        width: calc(100% - 25px);
    }
    .pocket_name h2 {
        font-size: 20px;
    }
    .mobile_rushalo.active {
        display: inline-block;
        width: 100%;
    }
    .input-group-btn {
        float: none !important;
    }
}

.mobile_rushalo {
    display: none !important;
}

@media screen and (max-width: 480px) {
    .pocket_block > div {
        margin: 0;
        width: 100%;
    }
    .input-group {
        display: inline;
    }
    .mobile_rushalo .header_search_input {
        display: none;
    }
    .mobile_rushalo {
        display: inline-block !important;
    }
    .search_label {
        display: none !important;
    }
    .header_search_input {
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        width: calc(100% - 50px);
    }
    .mobile_rushalo .fa {
        background: rgba(0, 0, 0, 0) url("../img/find-ico.png") no-repeat scroll 0 0;
        display: inline-block;
        font-size: 0;
        height: 16px;
        width: 16px;
    }
    .btn {
        min-width: auto;
        width: 100% !important;
    }
    .find-centers {
        width: 100%;
    }
    .maper_searcher input {
        width: 100%;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    header {
        position: absolute;
        top: 0;
    }
}