/* steve css */
.slide-text-science {
    width: auto;
    display: inline-block;
    padding: 15px;
    background: rgba(255,255,255,0.7);
    text-transform: uppercase;
    min-width: 60%;
    max-width: 100%;
    letter-spacing: 0.2em;
}

.slide-text-science h4 {
    margin-bottom: 3px;
    margin-top: 3px;
}


@media screen and (max-width: 1680px)  {
    @media screen and (max-width: 480px) {
        .letter-spacing {
            letter-spacing: normal;
        }
    }
    @media screen and (max-width: 767px)  {
        .slide-text-science {
            padding: 10px;
            letter-spacing: normal;
        }

        .slide-title-science {
            font-size: 32px;
            letter-spacing: normal;
            margin-bottom: 20px;
        }
    }
}
