/* css anton */
/*start of carrier*/
.carrier_img{
	height: 500px;
}
.blue_text_section{
	padding-right:  45px;
	min-height: 180px;
	background-color:#2cb4db;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

}

.blue_text_section:before{
	background: #2cb4db;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;

}
.letter-sapce-4{
	letter-spacing: 4px;
}
.carrier_list{
	margin-left: 15px;
}
.carrier_list li{
	margin-bottom: 7px;
}
.carrier_list li:last-child{
	margin-bottom: 0;
}
.carrier_list li p{
	padding-left: 12px;
}
/*.carrier_last_blc{
	padding: 30px 0;
}*/

@media(max-width: 991px){
	.carrier_img{
		height: 400px;
	}
}
@media(max-width: 767px){
	.carrier_img{
		height: 300px;
	}
}
@media(max-width: 640px){
	.carrier_img{
		height: 250px;
	}
}
@media(max-width: 480px){
	.carrier_img{
		height: 200px;
	}
	.blue_text_section h4{
		font-size: 20px;
	}
}
/*end of carrier*/
/*start of gb*/
.pb-20{
	padding-bottom: 20px;
}
.pt-20{
	padding-top: 20px;
}
.bg-gray-transp{
	background-color: rgba(192,192,192, 0.2);
	position: relative;
	height: auto;
}
.bg-gray-transp:before{
	background-color: rgba(192,192,192, 0.2);
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
}
.bg-gray-transp:after{
	background-color: rgba(192,192,192, 0.2);
    content: "";
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
}

/*end of gb*/
.upper_plash {
    position: relative;
}
.upper_plash::after {
    background: white none repeat scroll 0 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: -25px;
    width: 40px;
}
.upper_plash.up_black::after {
    background: black none repeat scroll 0 0;
}
.upper_plash::after {
    background: white none repeat scroll 0 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: -25px;
    width: 40px;
}
.f-52{
	font-size: 52px;
}
.m-t-200{
	margin-top: 200px;
}
.block_with_blue_arrow:before {
    content: "";
    background-image: url(../img/line-1.png);
    position: absolute;
    left: -30px;
    top: 10px;
    width: 23px;
    height: 100%;
}
.text-near-img{
	margin-left: 20px;
	width: 92%;
}
.block_with_blue_arrow{
	margin-left: 50px;
}


.block_with_blue_arrow.step1:before{
	height: 150px;
}
.block_with_blue_arrow.step2:before{
	height: 180px;
}
.block_with_blue_arrow.step3:before{
	height: 140px;
}
.block_with_blue_arrow.step4:before{
	height: 140px;
}
.block_with_blue_arrow.step5:before{
	height: 210px;
}
.overflow-hidden{
	overflow: hidden;
}
.responsive_image{
	max-width: 400px;
	width: 100%;
}
@media(max-width: 991px){
	.science-lists .col-sm-2 {
	    width: 50%;
	    margin-bottom: 20px;
	}
}
@media(max-width: 767px){
	.science-lists .col-sm-2 {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.blue_text_section{
		margin: 5px -10px;
	}
}