/* css nazar */
.blue_bg{
	background: #2cb4db;
}
.flex-center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.better_information{
	border: 1px solid #9c9c9c;
}
.letter-spacing{
	letter-spacing: 0.2em;
}
.btn_holder{
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}
.full-width-slider.slider_margin{
	margin-top: 143px;
}
.carousel-inner{
	z-index: 10;
}
.carousel-caption{
	width: calc(100% - 230px);
	left: 115px;
	right: 0;
	bottom: 0;
	padding-bottom: 60px;
	text-shadow: none;
	text-align: left;
	color: inherit;
}
.carousel .item img{
	min-width: 100%;
	height: auto;
}
.carousel-control.left, .carousel-control.right {
	background-image: url("../img/slide_controls.png");
	background-position: 0 center;
	background-size: auto 100%;
	height: 107px;
	left: 10px;
	margin: auto;
	width: 107px;
	z-index: 20;
}
.carousel-control.right {
	background-position: right center;
	left: auto;
	margin-right: 0;
	right: 10px;
}
.slide_title{
	font-family: 'GothamBold', roboto, Arial;
	font-size: 96px;
	line-height: 1;
	letter-spacing: 0.067em;
	color: #2cb4db;
	text-transform: uppercase;
	padding-left: 15px;
	margin-bottom: 60px;
}
.slide_text{
	width: auto;
	display: inline-block;
	padding: 30px;
	padding-bottom: 14px;
	background: rgba(255,255,255,0.7);
	text-transform: uppercase;
	min-width: 60%;
	max-width: 100%;
	letter-spacing: 0.2em;
}
.inside_ul{
	padding-left: 17px;
	font-size: 16px;
}
.inside_ul li{
	padding-left: 15px;
}
.inside_ul li:last-child{
	margin-bottom: 0;
}
.contacts {
	margin-bottom: 120px;
}
.contacts a{
	color: #fff;
	display: block;
	font-size: 17px;
	line-height: 31px;
	margin-bottom: 30px;
}
.contact-icon{
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #fff;
	color: #2cb4db;
	text-align: center;
	padding-left: 1px;
	margin-right: 15px;
}
.social-icons .social-big,.social-icons .social-big a{
	height: 44px;
	width: 44px;
	line-height: 42px;
	color: #2cb4db;
	border: 1px solid transparent;
	font-size: 24px;
}
.social-icons .social-big:hover{
	border: 1px solid #fff;
}
.contact_sls{
	padding: 45px 20px 65px 20px;
}
.f-18{
	font-size: 18px;
}
.f-23{
	font-size: 23px;
}
.f-31{
	font-size: 31px;
}
.f-48{
	font-size: 48px;
}
.italic{
	font-style: italic;
}
.text-nowrap{
	white-space: nowrap;
}
.text-nowrap b{
	white-space: normal;
}
.list{
	padding: 0;
	font-size: 16px;
}
.list .col{
	width: 25%;
	float: left;
	padding: 0 10px;
	display: block;
	font-style: italic;
}
.list .col span{
	font-size: 12px;
	line-height: 1.5;
	display: block;
}
.figure-circle-features {
	position: relative;
	margin: 70px;
	float: left;
	width: 250px;
	height: 250px;
}
.vertical-center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.arrow-animate{
	padding: 0 30px;
}
.mobile-science-formula{
	display: none;
}
span.text-uppercase{
	font-size: inherit;
}
.advantage .icon{
	min-height: 125px;
	display: flex;
	align-items: flex-end;
}
.join-input{
	border: 1px solid #fff;
	width: 100%;
	background: rgba(0,0,0,0.2);
	color: #fff;
	margin: 0;
	height: 45px;
}
.join-input:-ms-input-placeholder{
	color:white !important;
}
.join-input::-webkit-input-placeholder {
	color:white !important;
}
.join-input::-moz-placeholder{
	color:white !important;
}
.join-input:-moz-placeholder{
	color:white !important;
}
.how_it_works{
	position: relative;
}
.how_it_works .left-block{
	padding-right: 80px;
}
.how_it_works .right-block{
	padding-left: 80px;
}
.how_it_works .item p{
	font-size: 14px;
	color: #555;
}
.color-gray{
	color: #555;
}
.how_it_works .letter-spacing{
	letter-spacing: 0.1em;
}
.how_it_works .top-minus img{
	margin-top: -50px;
}
.how_it_works .col-sm-4 img{
	max-width: 100%;
}
span.like_btn {
	border: 1px solid;
	padding: 1px 5px;
	text-transform: uppercase;
	border-radius: 2px;
	font-size: 13px;
}
p.rect {
	font-size: 10px!important;
	border: 1px solid;
	padding: 10px;
}
.how_it_works_bg{
	position: absolute;
	top: 5%;
	left: 50%;
	height: 90%;
	transform: translate(-50% , 0);
	z-index: -1;
}
.how_it_works_bg img{
	height: 100%;
}
.block_icons .icon{
	min-height: 145px;
}
.footer_slide{
	padding: 0;
	height: 280px;
	overflow: hidden;
}
.long_btn{
	padding-right: 40px!important;
	margin-left: 0;
}
.advantage_relation .icon{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	min-height: 145px;
}
.photo_galery{
	position: relative;
	max-height: 280px;
}
.owl-controls{
	position: absolute;
	top: 50%;
	z-index: 2 ;
	width: 100%;
}
.owl-controls  .owl-nav div{
	background: url("../img/slide_controls.png");
	background-size: cover;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: -30px;
	position: absolute;
	font-size: 0;
}
.owl-prev{
	left: 5%;
}
.owl-controls  .owl-nav .owl-next{
	right: 5%;
	background-position: 60px 0px;
}
.form-checkboxes.fz-normal li{
	font-size: inherit;
}
footer ul li{
	white-space: nowrap;
}
.programs-box h1{
	font-family: GothamBold;
	text-transform: uppercase;
	line-height: 1.1;
	color: #2cb4db;
	margin-top: 0;
}
.programs-box > p{
	font-size: 31px;
	text-transform: uppercase;
	margin-bottom: 55px;
}
.programs-box > p span{
	font-family: GothamBold;
	font-size: 31px;
}
.programs-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 -6px;
	justify-content: center;
}
.program-item{
	width: 25%;
	padding: 0 6px;
}
.program-info{
	min-height: 300px;
	background: #fff;
	padding: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.program-info.active{
	background: #000;
}
.program-item *{
	text-align: center;
}
.program-title{
	font-family: GothamBold;
	text-transform: uppercase;
	color: #000;
	font-size: 24px;
	min-height: 105px;
}
.programs-desc{
	font-size: 18px;
	color: #000;
	max-height: 100px;
	overflow: hidden;
}
.program-info.active .programs-desc,
.program-info.active .program-title{
	color: #fff;
}
.program-text{
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 4px;
	min-height: 110px;
	padding: 10px;
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.program-text:nth-of-type(2n){
	background: rgba(240,240,240,0.8);
}
.program-price{
	font-family: GothamBold;
	font-size: 24px;
	color: #30a6cd;
	margin-bottom: 18px;
}
.program-item .nbtn{
	width: 100%;
	font-weight: 600;
	padding: 12px 15px;
}
.program-item .nbtn span{
	display: inline-block;
	width: 24px;
	height: 22px;
	margin-right: 12px;
	margin-bottom: -7px;
	background: url(../img/btn-cart-icon.png) no-repeat center;
}
.buy-order-table{
	margin-top: 50px;
}
.buy-ordeer-head_blocks.bohb_item_tabs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.payment-variants{
	margin-bottom: -10px;
}
.subskribe input[type="checkbox"]{
	right: 515px;
}
.ui-menu-item{
	font-size: 14px!important;
	padding: 2px 25px!important;
	font-family: 'GothamBook' !important;
	width: 100%!important;
}
.ui-menu {
	background: white none repeat scroll 0 0;
	border: 1px solid #e0e0e0;
	max-height: 165px;
	overflow: auto;
	position: absolute !important;
	text-align: left;
	top: 40px !important;
	width: 100%;
	z-index: 5 !important;
	cursor: default;
	max-width: 100%;
}

.ui-helper-hidden-accessible {
	display: none;
}
.ui-state-focus{
	background: #2cb4db;
	color: #fff;
}

.desktop-science-formula p{
	text-align: left;
}
.thanks-page p{
	margin-bottom: 20px;
}
.thanks-page  strong{
	font-family: "GothamBold";
}

.form-title{
	font-family: "GothamLight";
	font-size: 38px;
	color: #2cb4db;
	letter-spacing: 0.067em;
	margin-top: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.form-title b{
	font-family: "GothamBold";
}
.form-title span{
	display: block;
	font-family: "GothamBold";
}
.form-subtitle{
	font-family: "GothamBold";
	font-size: 16px;
	margin-bottom: 20px;
	letter-spacing: 0.067em;
}
[class*="m-"]:empty {
    margin: 0;
}

.search-form .form-control{
	border-radius: 0;
	padding: 0 30px;
	border: 1px solid #242526;
	width: 510px;
	max-width: 100%;
	height: 40px;
	margin-right: 30px;
}
.search-form .btn{
	text-align: center;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background: #0896c5 none repeat scroll 0 0;
	border: 1px solid #0896c5;
	border-radius: 0;
	color: white;
	display: inline-block;
	font-family: GothamBold;
	font-size: 14px;
	min-width: 140px;
	overflow: hidden;
	padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 0.067em;
}
.search-result h1{
	font-size: 28px;
}
.search-result article{
	border:none;
	margin-bottom: 0px;
}
.search-result h3{
	color: #0896c5;
	font-family: GothamMedium;
	font-size: 16px;
	margin-bottom: 15px;
	text-transform: inherit;
}
.search-result h3:hover a{
	text-decoration: underline;
}
.search-result p{
	color: #27292b;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 5px;
	font-family: GothamBook;
}
.search-result article > a{
	font-family: GothamBook;
	font-size: 14px;
	text-decoration: underline;
}
.search-result article > a:hover{
	text-decoration: none;
}
.paginator ul{
	float: right;
}
.paginator ul li{
	float: left;
	padding: 5px;
	font-family: GothamMedium;
	font-size: 16px;
}
.paginator ul li.active a{
	color: #27292b;
}
.paginator ul li.disabled{
	cursor: no-drop;
}





@media screen and (max-width: 1280px)  {
	.slide_title{
		font-size: 64px;
		margin-bottom: 30px;
	}
	.slide_text .f-23{
		font-size: 16px;
	}
	.slide_text .h3{
		font-size: 18px;
	}
	.mobile-top-p{
		margin-top: 30px;
	}
	.program-item{
		width: 33%;
	}
}
@media screen and (max-width: 991px)  {
	.form-checkboxes .col-md-3{
		width: 50%;
	}
	.contacts{
		margin-bottom: 30px;
	}
	.list .col{
		width: 50%;
	}
	.how_it_works_bg{
		display: none;
	}

	.how_it_works .left-block{
		padding-right: 0;
	}
	.how_it_works .right-block{
		padding-left: 0;
	}
	.programs-wrap{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.program-item{
		width: 50%;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 767px)  {
	.slide_title{
		font-size: 48px;
		padding-left: 0;
	}
	.slide_text{
		padding: 0;
	}
	.slide_text *{
		padding: 0;
		text-align: left;
	}
	.slide_text .f-31{
		font-size: 20px;
	}
	.form-checkboxes .col-md-3,
	.maper_searcher input{
		width: 100%;
	}
	.desktop-science-formula{
		display: none;
	}
	.mobile-science-formula{
		display: block;
	}
	.mobile-science-formula img{
		max-width: 100%;
	}
	.input-group-xs{
		display: block;
	}
	.input-group-xs input{
		margin-bottom: 10px;
	}
	.text-nowrap{
		white-space: inherit;
	}
	.f-48{
		font-size: 36px;
	}
	.less_h1 h1{
		font-size: 36px;
	}
	.no-wrap{
		word-wrap: normal;
	}
	.how_it_works .top-minus img{
		margin: 0;
	}
	/*.my_amazing_form .nbtn{
		float: left!important;
	}*/
	.relation-overview-listLeft li:nth-child(2n){
		font-size: 18px;
		color: #333;
	}
	.pocket_text p{
		height: auto;
	}
	.mobile_baner{
		background-size: contain !important;
		background-position: 0 0 !important;
		background-repeat: no-repeat!important;
		padding-top: 56%;
	}
	.baner_h646{
		padding-top: 41%;
	}
	.baner_h630{
		padding-top: 33%;
	}
	.baner_h624{
		padding-top: 39%;
	}
	.mobile_m0{
		margin: 0;
	}
	.mobile_p0{
		padding: 0;
	}
	.watcher_header a{
		border:  1px solid #2cb4db;
	}
	.homevideo embed{
		max-width: 100%;
	}
	.f-23{
		font-size: 18px;
	}
	.mobile-m-b{
		margin-bottom: 30px;
	}
	.mobile-p0{
		padding: 0!important;
	}
	br{
		display: none;
	}
	.map_find_elem{
		margin: 0;
		width: 100%;
	}
	.pre_map_informer{
		margin: 0 -10px;
	}
	.about_us_box{
		padding-left: 10px;
		padding-right: 10px;
	}
	.program-item{
		width: 100%;
	}
	.program-info,
	.program-title{
		min-height: auto;
	}
	.flex-center .inline{
		width: 100%;
		margin-bottom: 20px;
	}
	.boti-image{
		flex-basis: 100%;
	}
	.boti-info{
		width: 100%;
		padding: 15px;
	}
}
@media screen and (max-width: 480px)  {
	section{
		padding: 30px 0;
	}
	.slide_title{
		font-size: 36px;
	}
	.contacts {
		margin-left: -12px;
		margin-right: -12px;
	}
	.contact-icon{
		margin-right: 5px;
	}
	.contacts a{
		margin-bottom: 15px;
		font-size: 12px;
	}
	.less_h1 h1, .f-52{
		font-size: 28px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 20px;
	}
	.inside_ul{
		word-wrap: break-word;
	}
	.list .col{
		width: 100%;
	}
	footer .col-sm-6.col-xs-6{
		width: 100%;
	}
	.homevideo embed{
		height: 300px;
	}
	.about_us_new{
		padding: 100px 0;
	}
	.program-text{
		min-height: 50px;
	}
	.pst .bohb_item{
		display: none;
	}
}

#ajax_register_provider .validation-error {
	position: absolute;
	top: 60px;
	left: 0px;
	font-size: 11px;
	color: red;
}