/* css Denis */
.corporate-relation-page img {
  max-width: 100%;
  height: auto;
}
.full-width-banner {
  padding: 0;
}
.full-width-banner img {
  width: 100%;
}
.img-70 {
  max-width: 70%;
}
.max-w-90 {
  max-width: 90%;
}
.p-t-0 {
  padding-top: 0;
}
.p-0 {
  padding: 0;
}
.f-38 {
  font-size: 38px;
}
.f-61 {
  font-size: 61px;
}
.light {
  font-family: 'GothamLight', roboto, Arial;
}
.tal {
  text-align: left;
}
.science-formula .func {
  font-family: "Times New Roman";
  text-transform: lowercase;
}
.func {
  font: italic 38px GothamBook;
}
.relation-overview-listLeft li,
.relation-overview-listRight li {
  font-size: 23px;
  color: #9c9c9c;
  margin-top: 35px;
  text-align: right;
  font-family: 'GothamLight', sans-serif;
}
.relation-overview-listRight li {
  text-align: left;
  color: #000;
  text-transform: uppercase;
}
.relation-overview-listRight li.bold {
  font-family: GothamBold;
}
ul.big-lists li {
  font-style: italic;
  color: #9d9d9d;
  font-size: 16px;
}
.user-error {
  border-color: red!important;
}/*
.ui-state-focus {
  background-color: #ccc;
}*/
.ws-po-box {
  border: 1px solid #000!important;
}
.ws-po-arrow {
  border-bottom: .61538em solid #000!important;
}
.img-content {
  max-width: 100%;
  height: auto;
}
.iddna-sls-banner {
  padding: 248px 0 31px;
}
.f-16 {
  font-size: 16px;
}
.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.map-image {
   background-size: cover;
   height: 1120px;
}
.sls-animation_block .animation_item {
  position: relative;
}
.sls-animation_block .step {
  position: absolute;
  top: -30px;
  padding: 0 8px;
  background-color: #fff;
}
.animation_item {
  padding-bottom: 90px;
  margin-bottom: 14px;
}
.sls-iddna-func {
  font-family: "Times New Roman";
  font-style: italic;
}
.v_line.left{
  position: absolute;
  width: 3px;
  background: url('../img/anim-how-it-work/v_line_bg.png');
  left: 50px;
  top: -7px;
  height: 100%;
  animation: vertical-line 5s;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.v_line.right {
  position: absolute;
  width: 3px;
  background: url('../img/anim-how-it-work/v_line_bg.png');
  right: -3px;
  top: 0;
  height: 100%;
  animation: vertical-line 5s;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.step-1 .h_line{
  position: absolute;
  z-index: -1;
  width: calc(100% - 221px);
  height: 3px;
  background: url('../img/anim-how-it-work/h_line_bg.png');
  left: 225px;
  top: -8px;
  animation: horizontal-line 5s;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.step-2 .h_line {
  position: absolute;
  z-index: -1;
  width: calc(100% - 50px);
  height: 3px;
  background: url('../img/anim-how-it-work/h_line_bg.png');
  left: 50px;
  top: -15px;
  animation: horizontal-line 5s;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.step-3 .h_line {
  position: absolute;
  z-index: -1;
  width: 20%;
  height: 3px;
  background: url('../img/anim-how-it-work/h_line_bg.png');
  left: 50px;
  top: -15px;
  animation: horizontal-line 5s;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes vertical-line{
  0% {
    height: 0%;
    opacity: 1;
    },
  100% {
      opacity: 1;
    }
  }
@keyframes vertical-line{
  0% {
    height: 0%;
    opacity: 1;
    },
  100% {
      opacity: 1;
    }
  }

@-webkit-keyframes horizontal-line{
  0% {
    width: 0;
    },
  100% {
      width: calc(100% - 221px);
    }
  }
@keyframes horizontal-line{
  0% {
    width: 0;
    },
  100% {
      width: calc(100% - 23px);
    }
  }

  @-webkit-keyframes fade-step{
  0% {
    opacity: 0;
    },
  20% {
      opacity: 1;
    }
  }
@keyframes fade-step{
  0% {
    opacity: 0;
    },
  20% {
      opacity: 1;
    }
  }
.delay1{
  animation-delay: 0.5s;
}
.delay2{
  animation-delay: 1s;
}
.delay3{
  animation-delay: 1.5s;
}
.delay4{
  animation-delay: 2s;
}
.delay5{
  animation-delay: 2.5s;
}
.delay6{
  animation-delay: 3s;
}
.delay7{
  animation-delay: 3.5s;
}
.delay8{
  animation-delay: 4s;
}
.delay9{
  animation-delay: 4.5s;
}
.delay10{
  animation-delay: 5s;
}
.delay1_1{
  animation-delay: 1.1s;
}
.delay1_2{
  animation-delay: 1.2s;
}
.delay1_6{
  animation-delay: 1.6s;
}
.delay1_7{
  animation-delay: 1.7s;
}
.delay1_8{
  animation-delay: 1.8s;
}
.delay2_2{
  animation-delay: 2.2s;
}
.delay3_6{
  animation-delay: 3.6s;
}
.delay3_7{
  animation-delay: 3.7s;
}
.delay3_8{
  animation-delay: 3.8s;
}

/**
 *  New science page design 09.19.2016
 */
.sls-baner {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 60px;
}
.sls-baner h2 {
  font-family: 'GothamBold';
  color: #fff;
  font-size: 96px;

  /* minus 10px according to fonts paddings */
  margin-bottom: 50px;

  padding-left: 30px;
  margin-top: 0;
  text-transform: uppercase;
  line-height: 94px;
}
.sls-baner h2 > span {
  display: block;
}
.sls-baner .baner-white-block {
  background-color: rgba(255, 255, 255, 0.76);
  padding: 30px;
}
.sls-baner .baner-white-block h3 {
  font-family: 'GothamBold';
  font-size: 31px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  color: #2cb4db;
  letter-spacing: 0.2em;
}
.sls-baner .baner-white-block ul li {
  font-family: 'GothamBold';
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.2em;
}
.title-h2 {
  font-size: 38px;
  font-family: 'GothamBook';
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 30px;
}
.title-h2 > span {
  display: block;
}
.identity-animation {
  margin-top: 60px;
}

.clients-fingertips {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.clients-fingertips .from-to {
  flex-grow: 1;
  flex-shrink: 1;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clients-fingertips > img {
  flex-grow: 1;
  flex-shrink: 1;
}
.clients-fingertips .fingerprints {
  flex-shrink: 1;
  margin-top: 60px;
  padding-left: 20px;
}
.clients-fingertips .fingerprints ul.blue-list-rect li {
  font-size: 18px;
}
.chinese img {
  max-width: 100%;
  height: auto;
}
ul.blue-list-rect {
  padding-left: 30px;
}
ul.blue-list-rect li {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'GothamBold';
}
ul.blue-list-rect li:before {
  content: '';
  position: absolute;
  background-image: url('../img/blue-li-rect.png');
  width: 9px;
  height: 9px;
  left: -25px;
  top: 50%;
  transform: translate(0, -50%);
}
.clients-fingertips .from,
.clients-fingertips .to {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.clients-fingertips .from-to img {
  margin-right: 40px;
  width: 115px;
}
.clients-fingertips .from-to .arrow-down {
  align-self: center;
}
.clients-fingertips .from-to .from--text {
  position: relative;
}
.clients-fingertips .from-to .from--text > img {
  position: absolute;
  top: 150%;
  width: 50px;
  transform: translate(0, 50%);
  height: 25px;
}
.clients-fingertips .from-to .title-h2 {
  margin-bottom: 25px;
}
.clients-fingertips .from-to .from--text p,
.clients-fingertips .from-to .to--text p {
  font-size: 18px;
  font-family: 'GothamBold';
  text-transform: uppercase;
}
.clients-fingertips .fingerprints .title-h2 {
  font-family: 'GothamBold';
  margin-bottom: 60px;
}
.own-genes .blue-list-rect p {
  text-transform: none;
  font-family: 'GothamBook';
}
.own-genes {
  margin-bottom: 60px;
}
.dna-swiss .title-like-p {
  color: #2cb4db;
  letter-spacing: 0.2em;
  font-size: 23px;
  font-family: 'GothamBold';
  text-transform: uppercase;
  line-height: 29px;
  margin-bottom: 30px;
  text-align: left;
}
.dna-swiss--timeline {
  margin-bottom: 60px;
}
.dna-swiss ul li {
  font-size: 18px;
}
.cell-therapy p:nth-of-type(1) {
  margin-bottom: 30px;
}
.cell-therapy p:nth-of-type(2) {
  margin-bottom: 60px;
}
.cell-therapy h5 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'GothamBold';
  margin-top: 0;
  margin-bottom: 0;
}
.title-h3 {
  font-family: 'GothamLight';
  text-transform: uppercase;
  font-size: 31px;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 25px;
}
.studies-area a.more {
  color: #2cb4db;
  font-family: 'GothamBold';
  font-size: 16px;
  margin-bottom: 30px;
  display: inline-block;
  opacity: 0;
}
.studies-area a.more:hover {
  cursor: initial;
}
.studies-area a.more:last-child {
  margin-bottom: 0;
}
.names-list p > span {
  text-transform: uppercase;
  font-family: 'GothamBold';
}
.science-lists ul {
  width: 20%;
  float: left;
/*   font-style: italic; */
/*   color: #ccc; */
  padding-right: 15px;
  margin-top: 60px;
}
.science-lists li {
  font-family: 'GothamMedium';
}
.science-lists ul li{
  margin: 5px 0;
}
.mobile-baner-img{
  display: none;
}
.dna-swiss--timeline {
  position: relative;
  height: 360px;
}
.dna-swiss--timeline:after {
  content: '';
  position: absolute;
  top:  50%;
  width: 100%;
  display: block;
  background-color: #000;
  height: 1px;
}
.dna-swiss--timeline > div > span {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 99;
}
.dna-swiss--timeline > div.top > span:before {
  content: '';
  position: absolute;
  display: block;
  height: 90px;
  width: 1px;
  background-color: #000;
  bottom: 9px;
  left: 50%;
  transform: translate(-50%);
}
.dna-swiss--timeline > div.top.long > span:before {
  height: 160px;
}
.dna-swiss--timeline > div.bottom.long > span:after {
  height: 160px;
}
.dna-swiss--timeline > div.bottom > span:after {
  content: '';
  position: absolute;
  display: block;
  height: 90px;
  width: 1px;
  background-color: #000;
  top: 9px;
  left: 50%;
  transform: translate(-50%);
}
.dna-swiss--timeline > div .date {
  font-size: 16px;
  font-family: 'GothamBold';
}
.dna-swiss--timeline > div.bottom .date {
  position: absolute;
  bottom:  10px;
  transform: translate(-50%);
  left: 50%;
}
.dna-swiss--timeline > div.top .date {
  position: absolute;
  top:  10px;
  transform: translate(-50%);
  left: 50%;
}
.dna-swiss--timeline > div > .dna-swiss--timeline__text {
  position: absolute;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.dna-swiss--timeline > div:nth-child(1) > span,
.dna-swiss--timeline > div:nth-child(1) > .dna-swiss--timeline__text {
  left: 10%;
}
.dna-swiss--timeline > div:nth-child(2) > span,
.dna-swiss--timeline > div:nth-child(2) > .dna-swiss--timeline__text {
  left: 20%;
}
.dna-swiss--timeline > div:nth-child(3) > span,
.dna-swiss--timeline > div:nth-child(3) > .dna-swiss--timeline__text {
  left: 30%;
}
.dna-swiss--timeline > div:nth-child(4) > span,
.dna-swiss--timeline > div:nth-child(4) > .dna-swiss--timeline__text {
  left: 40%;
}
.dna-swiss--timeline > div:nth-child(5) > span,
.dna-swiss--timeline > div:nth-child(5) > .dna-swiss--timeline__text {
  left: 50%;
}
.dna-swiss--timeline > div:nth-child(6) > span,
.dna-swiss--timeline > div:nth-child(6) > .dna-swiss--timeline__text {
  left: 60%;
}
.dna-swiss--timeline > div:nth-child(7) > span,
.dna-swiss--timeline > div:nth-child(7) > .dna-swiss--timeline__text {
  left: 70%;
}
.dna-swiss--timeline > div:nth-child(8) > span,
.dna-swiss--timeline > div:nth-child(8) > .dna-swiss--timeline__text {
  left: 80%;
}
.dna-swiss--timeline > div.bottom > .dna-swiss--timeline__text {
  bottom: 85px;
}
.dna-swiss--timeline > div.bottom.long > .dna-swiss--timeline__text {
  bottom: 10px;
}
.dna-swiss--timeline > div.top.long > .dna-swiss--timeline__text {
  top: 10px;
}
.dna-swiss--timeline > div.top > .dna-swiss--timeline__text {
  top: 85px;
}
.dna-swiss--timeline > span > span {
  position: absolute;
  top: -20px;
}
.dna-swiss--timeline > div > .dna-swiss--timeline__text > img {
  float: left;
}
.dna-swiss--timeline > div > .dna-swiss--timeline__text > p {
  float: left;
  padding-left: 10px;
  text-align: left;
  letter-spacing: 0;
  line-height: 20px;
}
.dna-swiss--timeline b {
  display: block;
}
/* START This for timeline test image */
.timeline-img {
  display: none;
}
/* END This for timeline test image */

/* Nazar super selector fix */
.page-template-template-page-login .loginform input {
  margin-bottom: 20px;
  margin-top: 15px;
}
/**
 * Media queries
 */
@media only screen and (max-width: 1280px) {
  .dna-swiss--timeline > div:nth-child(1) > span,
  .dna-swiss--timeline > div:nth-child(1) > .dna-swiss--timeline__text {
    left: 5%;
  }
  .dna-swiss--timeline > div:nth-child(2) > span,
  .dna-swiss--timeline > div:nth-child(2) > .dna-swiss--timeline__text {
    left: 17%;
  }
  .dna-swiss--timeline > div:nth-child(3) > span,
  .dna-swiss--timeline > div:nth-child(3) > .dna-swiss--timeline__text {
    left: 29%;
  }
  .dna-swiss--timeline > div:nth-child(4) > span,
  .dna-swiss--timeline > div:nth-child(4) > .dna-swiss--timeline__text {
    left: 41%;
  }
  .dna-swiss--timeline > div:nth-child(5) > span,
  .dna-swiss--timeline > div:nth-child(5) > .dna-swiss--timeline__text {
    left: 53%;
  }
  .dna-swiss--timeline > div:nth-child(6) > span,
  .dna-swiss--timeline > div:nth-child(6) > .dna-swiss--timeline__text {
    left: 65%;
  }
  .dna-swiss--timeline > div:nth-child(7) > span,
  .dna-swiss--timeline > div:nth-child(7) > .dna-swiss--timeline__text {
    left: 77%;
  }
  .dna-swiss--timeline > div:nth-child(8) > span,
  .dna-swiss--timeline > div:nth-child(8) > .dna-swiss--timeline__text {
    left: 89%;
  }
  .dna-swiss--timeline > div > .dna-swiss--timeline__text > p {
    font-size: 14px;
  }
  .dna-swiss--timeline div:nth-child(7) > .dna-swiss--timeline__text {
    bottom: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .dna-swiss--timeline {
    display: none;
  }
  /* START This for timeline test image */
  .timeline-img {
    display: block;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .timeline-img img {
    max-width: 100%;
    height: auto;
  }
  /* END This for timeline test image */
  .clients-fingertips {
    justify-content: center;
  }
  .clients-fingertips .from-to {
    flex-grow: 0;
  }
  .clients-fingertips .from-to .from,
  .clients-fingertips .from-to .to {
    margin-bottom: 60px;
  }
  .clients-fingertips > img {
    flex-grow: 0;
  }
  .clients-fingertips .from-to .from--text > img {
    top: 110%;
  }
  .science-lists ul {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .mobile-white {
    color: #fff;
  }
  .relation-overview-listLeft li {
    text-align: left;
    margin: 5px 0 15px;
  }
   .map-image {
     background-size: contain;
     height: auto;
     padding-top: 50%;
     background-repeat: no-repeat;
  }
  .mobile-baner{
    padding-top: 0;
    background-image: none!important;
  }
  .mobile-baner-img{
    display: block;
    width: 100%;
  }
  .sls-baner h2 {
    line-height: 1.2;
    margin-top: 30px;
    padding-top: 0;
    margin-top: 0;
    font-size: 48px;
    color: #000;
  }
  .sls-baner .baner-white-block {
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-none {
    display: none;
  }
  .science-lists ul {
    width: 100%;
  }
}