/* css vasia */

/*Sitemap page css*/

.sitemap-url ul li a {
font-family: "GothamBold";
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

 
.sitemap-url a sup{
	display:inline-block;
  line-height:1.1em;
  text-decoration:none;
}

.sitemap-url ul li ul li a {
    font-family: "GothamLight";
	font-size: 16px;
	padding-left: 30px;
	text-transform: none;
	letter-spacing: 0.2em;
}

.sitemap-url ul li ul {
	padding:15px 0px;
	
}

.sitemap-url ul li ul li {
	padding-bottom:5px;
	
}

.sitemap-url ul li ul li:last-child {
	padding-bottom:0px;
	
}

.sitemap-url ul li {
	padding-bottom:10px;
	
}
