/* yura css*/

.my_amazing_form .req {
    text-transform: uppercase;
}

.small_check.one_line {
    float: right;
    font-size: 11px !important;
    letter-spacing: normal;
    margin-top: 7px;
   /* text-transform: capitalize !important;*/
}

.my_amazing_form .valid {
    width: 20px;
    height: 20px;
    background-image: url("../img/checkboxes.png");
    background-position: -10px -84px;
    font-size: 0!important;
}

.my_amazing_form .valid.c-s-v {
    font-size: 0;
    margin: auto;
    position: absolute;
    /*top: 55px;*/
}
.my_amazing_form span {
    right: 12px!important;
}
.header_emeil {
    margin-bottom: 10px;
}
.subskribe::after {
    clear: both;
    content: "";
    display: block;
}
.subskribe {
    padding: 10px 10px 27px !important;
}
.form-checkboxes.prov-checkbox ul li {
    width: 25%;
}
@media (max-width: 992px){
    .form-checkboxes.prov-checkbox ul li {
        width: 50%;
    }
}
@media (max-width: 550px){
    .form-checkboxes.prov-checkbox ul li {
        width: 100%;
    }
}
.contact_sls {
    padding-bottom: 17px;
}
.p-w-ls-0 {
    letter-spacing: 0;
}
.p-w-l-h {
    line-height: 15px;
}

span.like_btn {
    border: 1px solid;
    padding: 5px 5px;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 13px;
}
.c-111 {
    color: #666;
}