@font-face {
    font-family: "GothamBold";
    src: url(../fonts/gotham_bold.ttf), url('../fonts/gotham_bold.woff2') format('woff2'), url('../fonts/gotham_bold.eot');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: "GothamLight";
    src: url(../fonts/gotham_light.ttf), url('../fonts/gotham_light.woff2') format('woff2'), url('../fonts/gotham_light.eot');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: "GothamBook";
    src: url(../fonts/gotham_book.ttf), url('../fonts/gotham_book.woff2') format('woff2'), url('../fonts/gotham_book.eot');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: "GothamThin";
    src: url(../fonts/gotham_thin.ttf), url('../fonts/gotham_thin.woff2') format('woff2'), url('../fonts/gotham_thin.eot');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: "GothamMedium";
    src: url(../fonts/gotham_medium.ttf), url('../fonts/gotham_medium.woff2') format('woff2'), url('../fonts/gotham_medium.eot');
    /* IE9 Compat Modes */
}
a,a:hover, a:focus{
  outline: none;
}
.box,
.pocket {
    box-sizing: border-box;
    text-align: center;
}


/*
input:required {
    box-shadow: none;
}
*/


/*
input:invalid {
    border-color: red;
    box-shadow: none;
}
*/
.science-lists .col-sm-2 {
    width: 20%;
}


option {
    padding: 5px 20px;
    position: relative;
}

body {
    letter-spacing: 1px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

.uppercase {
    text-transform: uppercase;
}

.lSAction > a {
    height: 107px;
    width: 107px;
    background-image: url('../img/slide_controls.png');
    margin-top: -54px;
}

.lSAction > .lSNext {
    background-position: right 0;
    right: 50px;
}

.lSAction > .lSPrev {
    background-position: 0 0;
    left: 60px;
}

select {
    -moz-appearance: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(218, 220, 217, 0);
    background-image: url("../img/select.png");
    background-origin: padding-box;
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    color: white;
    font-size: 14px;
    height: 45px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: GothamBook;
    letter-spacing: 0;
}

select::-ms-expand {
    display: none;
}

.ico {
    background: rgba(0, 0, 0, 0) url("../img/split-img.png") no-repeat scroll 0 0;
    border: medium none;
    display: inline-block;
}

.arrow {
    height: 17px;
    width: 10px;
}

.ico.arrow.arrow_white {
    background-position: -27px -1px;
}

.btn .ico {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

.cover {
    background-size: cover !important;
}


/* main styles */

p {
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

.text-blue {
    color: #2cb4db;
}

.hint-text {
    color: #777;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-family: "GothamLight";
    font-size: 12px;
}

h4,
.h4 {
    font-family: "GothamLight";
    font-size: 24px;
}

h2,
.h2 {
    font-family: "GothamLight";
}

h3,
.h3 {
    font-family: "GothamLight";
    font-size: 28px;
}


/*
.f-36 {
    font-size: 360%;
}

.f-24 {
    font-size: 240%;
}

.f-42 {
    font-size: 420%;
}

.f-52 {
    font-size: 520%;
}
*/

.f-0 {
    font-size: 0;
}

button {
    height: 45px;
    /*max-width: 270px;
    width: 100%;*/
}

.font-normal {
    font-family: GothamBook !important;
}
.font-medium {
    font-family: GothamMedium;
}
.font-ligth {
    font-family: GothamLight;
}

.font-thin {
    font-family: GothamThin;
}

.bold {
    font-family: GothamBold;
}

.text-white {
    color: white;
}

.section_form .btn {
    background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0;
    border-color: white;
    border-radius: 0;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    line-height: 1;
    padding: 0px 30px;
    text-align: left;
    width: 270px;
}

.section_form .form-control {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    color: white;
    font-size: 14px;
    width: 300px;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0;
}

.section_form {
    display: inline-block;
    font-size: 0;
}

.section_form .input-group-btn {
    float: left;
}

.section_form .ico {
    background-position: -27px -1px;
    position: absolute;
    right: 30px;
}

.section_form .btn:hover {
    background: #2cb4db none repeat scroll 0 0;
    color: white;
}

.section_form .btn:hover .ico {
    background-position: -27px -1px;
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0 !important;
}


/* checkboxes */


/* checkboxes */

input[type="checkbox"] {
    height: 22px !important;
    opacity: 0;
    position: absolute;
    width: 22px !important;
    z-index: -9999999;
}

input[type="checkbox"] + label {
    color: #000000;
    cursor: pointer;
    font: 18px/26px GothamBold;
    padding-left: 45px;
    position: relative;
}

input[type="checkbox"] + label::before {
    background-image: url("../img/checkboxes.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 30px;
    left: 0;
    margin: 0 20px 0 0;
    position: absolute;
    vertical-align: middle;
    width: 30px;
}

input[type="checkbox"] + label::before {
    background-position: -65px -45px;
}

input[type="checkbox"]:checked + label::before {
    background-position: -65px -6px;
}

input[type="checkbox"] + label.light_checkbox::before {
    background-position: -8px -46px;
}

input[type="checkbox"]:checked + label.light_checkbox::before {
    background-position: -8px -6px;
}


/*
input[type="checkbox"]:checked + label.small_check.white::before {
    background-position: -105px -3px;
}

input[type="checkbox"] + label.small_check.white::before {
    background-position: -105px -29px;
}

input[type="checkbox"]:checked + label.small_check::before {
    background-position: -142px -3px;
}
*/


/*
input[type="checkbox"] + label.small_check::before {
    background-position: -142px -29px;
}

input[type="checkbox"] + label.small_check::before {
    height: 25px;
}
*/

.small_check.white {
    color: white;
}

.small_check {
    font-size: 14px !important;
    line-height: 16px !important;
    font-family: GothamBook !important;
}

.small_check a {
    font-size: inherit;
}

.subskribe {
    padding: 20px 0;
}


/* end checkboxes */

input::-webkit-input-placeholder {
    color: #000 !important;
}

input::-moz-placeholder {
    color: #000 !important;
}


/* Firefox 19+ */

input:-moz-placeholder {
    color: #000 !important;
}


/* Firefox 18- */

input:-ms-input-placeholder {
    color: #000 !important;
}

.header_search_input::-webkit-input-placeholder {
    color: white !important;
}

.header_search_input::-moz-placeholder {
    color: white !important;
}

.header_search_input:-moz-placeholder {
    color: white !important;
}

.find-centers-input:-ms-input-placeholder {
    color: white !important;
}

.find-centers-input::-webkit-input-placeholder {
    color: white !important;
}

.find-centers-input::-moz-placeholder {
    color: white !important;
}

.find-centers-input:-moz-placeholder {
    color: white !important;
}

.header_search_input:-ms-input-placeholder {
    color: white !important;
}

.section_form input::-webkit-input-placeholder {
    color: white !important;
}

.section_form input::-moz-placeholder {
    color: white !important;
}

.section_form input:-moz-placeholder {
    color: white !important;
}

.section_form input:-ms-input-placeholder {
    color: white !important;
}

.amazing_form input::-webkit-input-placeholder {
    color: Black !important;
}

.amazing_form input::-moz-placeholder {
    color: Black !important;
}

.amazing_form input:-moz-placeholder {
    color: Black !important;
}

.amazing_form input:-ms-input-placeholder {
    color: Black !important;
}

.footer_mail input::-webkit-input-placeholder {
    color: white !important;
}

.footer_mail input::-moz-placeholder {
    color: white !important;
}

.footer_mail input:-moz-placeholder {
    color: white !important;
}

.footer_mail input:-ms-input-placeholder {
    color: white !important;
}


/* end checkboxes */

.wed_like_to b {
    text-transform: uppercase;
}

.show-on-map-center {
    cursor: pointer
}


/* */

.wed_like_to h5 {
    font-size: 14px;
}

.pocket_block {
    margin: 70px -10px;
}

.pocket_text b {
    font-family: GothamBold;
    font-size: 22px;
    font-weight: normal;
    padding-top: 47px;
    text-transform: uppercase;
}

.pocket_text p {
    font-size: 16px;
    height: 90px;
    overflow: hidden;
    text-align: left;
}

section {
    padding: 60px 0;
}

.find_center h2 {
    color: white;
    font-weight: 300;
}

.paralax_block {
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/banner.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 100vh;*/
    background-position: center center;
}

.pocket_info {
    position: relative;
}

.pocket_info img {
    width: 100%;
}

.pocket_info:hover img {
    opacity: 0.7;
}

.pocket_name {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    bottom: 20px;
    box-sizing: border-box;
    padding: 20px 15px;
    position: absolute;
    text-align: left;
    width: 95%;
}

.pocket_name h2 {
    color: black;
    display: table-cell;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    vertical-align: middle;
}

.pocket_text * {
    display: block;
    padding: 10px 0;
}

.form_input {
    display: block;
    position: relative;
}

.form_input span {
    bottom: 0;
    color: #2cb4db;
    font-family: GothamLight;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    text-transform: lowercase;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.m-0 {
    margin: 0 !important;
}

.vt {
    vertical-align: top !important;
}

b {
    font-family: GothamBold;
    font-size: inherit;
    font-weight: normal;
}

input {
    background-color: rgba(218, 220, 217, 0);
    border: 1px solid #9c9c9c;
    display: block;
    font-size: 14px;
    height: 40px;
    margin: 10px 0;
    position: relative;
    padding: 0 27px;
    font-family: GothamBook;
}

.blue_inputs input {
    border-color: #2cb4db;
}

.amazing {
    background-position: center top;
}

.amazing_form input {
    padding: 0 110px 0 27px;
    width: 100%;
}

.amazing_form .nbtn {
    box-sizing: border-box;
    max-width: 270px;
    width: 100%;
}

.amazing_form .ico {
    position: absolute;
    right: 30px;
}

.amazing_form input:valid {
    border-color: #2cb4db;
}

.my_amazing_form input:valid ~ .valid {
    display: none !important;
}

.amazing_form input:valid ~ .req {
    display: none;
}

.amazing_form .valid {
    display: none;
}

.amazing_form input:valid ~ .valid {
    color: green;
    display: none;
}

.form_input .valid {
    display: none;
}

.form_input input:valid ~ .valid {
    color: green;
    display: none;
}

.form_input span {
    -moz-user-select: none;
    bottom: 0;
    color: #9c9c9c;
    font-family: GothamLight;
    font-size: 14px;
    height: 16px;
    line-height: 1;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
}

.nbtn {
    background: white none repeat scroll 0 0;
    border: 1px solid;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    padding: 10px 30px 10px 15px;
    position: relative;
    text-align: left;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    min-width: 200px;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #2cb4db;
}

.nbtn::before {
    background: #2cb4db none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
    transform-origin: 0 100% 0;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s;
    width: 150%;
    z-index: -1;
}

.nbtn:hover::before {
    background-color: #2cb4db;
    opacity: 1;
    transform: rotate3d(0, 0, 1, 0deg);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.nbtn .ico {
    background-position: -27px -20px;
    margin-left: 10px;
    vertical-align: text-bottom;
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.nbtn.nbtn-inverse .ico {
    background-position: -27px -2px;
}

.nbtn.nbtn-inverse {
    background: #2cb4db none repeat scroll 0 0;
    border: 1px solid #2cb4db;
    color: white;
}

.nbtn:hover {
    color: white;
}

.nbtn.nbtn-inverse:hover {
    color: #2cb4db;
}

.nbtn.nbtn-inverse:hover::before {
    background: white none repeat scroll 0 0;
}

.nbtn.nbtn-inverse:hover .ico {
    background-position: -27px -20px;
}

.nbtn:hover .ico {
    background-position: -27px -1px;
}

.nbtn.nbtn-transparent {
    background: transparent none repeat scroll 0 0;
    border: 1px solid;
    color: white;
    max-width: 270px;
    width: 100%;
}

.nbtn.nbtn-transparent:hover {
    background: white none repeat scroll 0 0;
    color: #2cb4db;
}

.nbtn.nbtn-transparent:hover .ico {
    background-position: -27px -20px;
}

.nbtn.nbtn-white:hover {
    color: white;
}

.bg-fixed {
    background-attachment: fixed !important;
}

.big_btn {
    box-sizing: border-box;
    height: 60px;
    max-width: 270px;
    padding: 10px 36px;
    width: 100%;
}

.amazing_form {
    margin-top: 20px;
}

.amazing_form p {
    color: #777;
    font-size: 16px;
    line-height: 23px;
}

.form_input {
    position: relative;
}

.find_center {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/dna-banner.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    color: white;
}

.top_plashs {
    background: #07141c none repeat scroll 0 0;
}

.social_links {
    border: medium none;
    margin-right: 30px;
}

.paralax_block h1 {
    color: #2cb4db;
    font-family: GothamBold;
    font-size: 96px;
}

.paralax_info_block {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    font-family: gothamlight;
    margin: 10px 0 25px;
    padding: 50px 20px 50px 0;
    position: relative;
    width: 100%;
}

.paralax_info_block::after {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
}

.paralax_info_block h2 {
    line-height: 1.3;
    margin: 0;
    text-transform: uppercase;
}

.otst {
    margin-top: 30px !important;
}

.watcher_header a {
    box-sizing: border-box;
    font-size: 18px;
    margin: 10px 0;
    vertical-align: middle;
    width: 100%;
    border: 1px solid #fff;
}

.form-control {
    height: 45px;
    font-size: 14px;
}

.watcher_header a:hover {
    border: 1px solid #2cb4db;
}

.new-btn {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    border: 1px solid;
}


/*blog*/

.blog_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog img {
    display: block;
}

.blog {
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.post-info span {
    border-bottom: 1px solid #f2f2f2;
    color: #9c9c9c;
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    margin: 10px 0;
    padding-bottom: 10px;
}

.blog_text {
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}

.blog-info {
    padding: 0 20px;
}

.blog_pre h2 {
    display: inline-block;
}

.soc_post_img img {
    display: block;
    height: 150px;
    width: 150px;
}

.elipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* centers */

.map-section {
    padding: 0;
}

.b-t-grey {
    border-top: 1px solid #eee;
}

.full_height {
    height: calc(100vh - 355px);
    min-height: 800px;
/*    height: 500px;
    min-height:500px;*/
}

.centers_res {
    padding: 85px 0 0;
}

.centers_finder_block {
    background: rgba(44, 180, 219, 0.81) none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 23px 0 60px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.top_h1 {
    background: rgba(44, 180, 219, 0.81) none repeat scroll 0 0;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 5;
}

.map-block {
    /*background: rgba(0, 0, 0, 0) url("../img/map.jpg") no-repeat scroll 0 0 / cover;*/
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.find-centers-btn {
    border-color: white;
}

.maper_searcher input {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    border-color: white;
    box-sizing: border-box;
    color: white;
    height: 45px;
    width: 400px;
}

.nbtn.nbtn-white {
    background: white none repeat scroll 0 0;
    color: #2cb4db;
}

.about_flag {
    background: rgba(0, 0, 0, 0) url("../img/bg-flag.jpg") no-repeat scroll right center;
    overflow: hidden;
    padding: 85px 0;
}
.tutka::after {
    background: rgba(0, 0, 0, 0) url("../img/big-swiss-flag.png") repeat scroll 0 0 / cover ;
    content: "";
    height: 150%;
    position: absolute;
    right: 110%;
    top: 0;
    width: 420px;
}
.no-wrap {
    white-space: nowrap;
}

.offer_form {
    margin: 60px auto;
    max-width: 100%;
}

.offer_form input {
    border-color: #9c9c9c;
}

.offer_form input:focus {
    border: 1px solid #27292b;
}

.contact-form .offer_form select {
    border-color: #9c9c9c;
    float: left;
    margin: 7px 0;
    width: 100%;
    color: #27292b;
}

.form-checkboxes ul li {
    float: left;
    font-family: gothambold;
    font-size: 300%;
    padding: 0 0;
    width: 30%;
}

@media screen and (max-width: 992px) {
    .form-checkboxes ul li {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .form-checkboxes ul li {
        width: 100%;
    }
}

.show-on-map-center:hover {
    color: black;
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-xs-top {
        vertical-align: top;
    }
    .col-xs-middle {
        vertical-align: middle;
    }
    .col-xs-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-sm-top {
        vertical-align: top;
    }
    .col-sm-middle {
        vertical-align: middle;
    }
    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-md-top {
        vertical-align: top;
    }
    .col-md-middle {
        vertical-align: middle;
    }
    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-lg-top {
        vertical-align: top;
    }
    .col-lg-middle {
        vertical-align: middle;
    }
    .col-lg-bottom {
        vertical-align: bottom;
    }
}

.overflow {
    overflow: hidden;
}

.f-20 {
    font-size: 20px;
}


/* about us */

.login_block::after {
    background: #f4f2f2 none repeat scroll 0 0;
    bottom: -100%;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
}

.login_sect {
    color: white;
    overflow: hidden;
    text-align: center;
    background-attachment: fixed;
    /*padding: 80px 0 90px;*/
}

.pocket_footer .nbtn {
    margin: 10px 0;
    min-width: 100%;
}

.about_us_header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/about-us-banner.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    overflow: hidden;
    padding-bottom: 0;
    background-attachment: fixed;
}

.about_us_boxes .about_us_box:nth-child(2),
.about_us_box:nth-child(3) {
    background: rgba(44, 180, 219, 0.3) none repeat scroll 0 0;
}

.about_us_boxes .about_us_box:nth-child(1),
.about_us_box:nth-child(4) {
    background: rgba(44, 180, 219, 0.1) none repeat scroll 0 0;
}

.about_us_box {
    box-sizing: border-box;
    min-height: 270px;
    padding: 27px 0;
    position: relative;
}

.about_us_box .nbtn {
    bottom: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    max-width: 270px;
    width: 100%;
}

.about_us_boxes .about_us_box:nth-child(1)::after {
    background: rgba(44, 180, 219, 0.1) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
}

.about_us_boxes .about_us_box:nth-child(4)::after {
    background: rgba(44, 180, 219, 0.1) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
}

.about_us_boxes .about_us_box:nth-child(2)::after {
    background: rgba(44, 180, 219, 0.3) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
}

.about_us_boxes .about_us_box:nth-child(3)::after {
    background: rgba(44, 180, 219, 0.3) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
}

.about_fix {
    margin: 0 0 30px;
}

.prefooter_map_section {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.prefooter_map_section .map-block {
    position: absolute;
    top: 0;
}

.pre_map_informer {
    background: rgba(44, 180, 219, 0.83) none repeat scroll 0 0;
    color: white;
    padding-bottom: 85px;
    padding-top: 70px;
    position: relative;
}

.pre_map_informer::after {
    background: rgba(44, 180, 219, 0.83) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
}

.pre_map_informer a {
    color: white;
    font-family: GothamLight;
}

.pre_map_informer p {
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}

.bg-grey {
    background: #f4f2f2 none repeat scroll 0 0;
}

.pre_map_informer img {
    padding-left: 20px;
}

.pre_map_informer > * {
    display: block;
}

.folow_us {
    border: 1px solid #2cb4db;
    box-sizing: border-box;
    display: block;
    height: 45px;
    line-height: 1;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.folow_us::after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #07141c;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: -100%;
    width: 100%;
    z-index: -1;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.folow_us:hover::after {
    top: 0;
}

.folow_us:hover {
    color: white;
}

.folow_info * {
    line-height: 1;
}

.folow_info {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0;
    font-size: 13px;
}

.folow_image {
    border-right: 1px solid #2cb4db;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 45px;
    font-size: 26px;
    line-height: 1em;
    text-align: center;
    padding: 8px 0;
}

.folow_image img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    right: 0;
    top: 0;
}

.about_us_new {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/about-us-first-block.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover !important;
    box-sizing: border-box;
    color: white;
    padding: 150px 0;
    text-align: center;
}

.about_us_second {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/about-us-first-block.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover !important;
    box-sizing: border-box;
    color: white;
    padding: 70px 0;
    text-align: center;
}


/* end about us */


/* home */

.paralax_inner h1 {
    color: #099dc7;
    font-family: GothamBold;
    font-size: 121px;
}


/* end home */


/* distributors */

.full-inner > * {
    width: 100%;
}

.full-width-slider {
    padding: 0;
}

.map-block-distributors {
    /* background: rgba(0, 0, 0, 0) url("../img/map.jpg") no-repeat scroll 0 0 / cover;*/
    width: 100%;
    height: 550px;
}

.distri_map {
    padding: 0;
    position: relative;
}

.f-w-form {
    min-width: 100%;
}


/* end distributors */


/* log in page */

.login_block {
    background: #f4f2f2 none repeat scroll 0 0;
    padding: 30px 8% 45px;
    position: relative;
}

.b-grey {
    border-color: #9c9c9c;
}

#loginform .b-grey:focus {
    border: 1px solid #27292b;
}


/* end login page */


/* team styles */

.team_inner h4 {
    min-height: 44px;
}

sup {
    font-size: smaller;
}

.team_photo_block {
    width: 100%;
}

.team_photo_block img {
    max-height: 100%;
    width: 100%;
}

.team_inner {
    margin: 20px 0;
    padding-bottom: 30px;
    border: 1px solid #f1f1f1;
}

.experience {
    background-attachment: fixed;
}


/* end team styles */

.blue_ul li {
    list-style-image: url("../img/list.png");
}

.letter-1 {
    letter-spacing: 1px;
}

.blue_ul li {
    margin-bottom: 25px;
}

.privi_block_h3 .uppercase {
    font-size: inherit;
}

.privi_block_h3 {
    margin-top: 40px;
}


/* providers */


/* end providers*/

.event-dropdown option {
    color: black;
}

.zglushka {
    width: 100%;
    display: block;
    height: 100%;
}

.map-block-distributors path {
    stroke: #089EC7;
    fill: #85CEE3;
}

.map-block-distributors path:hover {
    stroke: rgb(221, 221, 221);
    stroke-width: 1;
    fill: rgb(245, 245, 245);
}

.find-centers .loading-icon {
    display: none;
    width: 36px;
    height: 36px;
    stroke: #fff;
    position: relative;
    top: 0;
    margin: 4px;
}

.find-centers.loading .loading-icon {
    display: block;
}

.find-centers.loading .find-centers-btn,
.find-centers.loading .find-centers-input {
    display: none;
}

.find-centers input::-webkit-input-placeholder,
.find-centers input:-moz-placeholder,
.find-centers input:-moz-placeholder,
.find-centers input:-ms-input-placeholder {
    color: #fff;
}

.map_find_elem:nth-child(3n+1) {
    clear: both;
}

.small_check.one_line {
    line-height: 29px !important;
}

.smoller_check {
    font-size: 11px !important;
    line-height: 27px !important;
    padding-left: 35px !important;
}

.map_find_elem {
    margin-bottom: 75px;
    word-wrap: break-word;
}

.btn-zoom-controls {
    position: absolute;
    right: 46px;
    top: -110px;
}

.dist-btn-zoom-controls {
    position: absolute;
    right: 46px;
    bottom: 12px;
}

.btn-zoom-controls-zoom-in,
.btn-zoom-controls-zoom-out {
    display: block;
    background: #4EBDDB;
    border: 1px solid #fff;
    height: 40px;
    width: 40px;
    margin: 10px 0;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.btn-zoom-controls-zoom-in:hover,
.btn-zoom-controls-zoom-out:hover {
    background-color: #fff;
    border-color: #4EBDDB;
    color: #4EBDDB;
}

.box-modal {
    background: white none repeat scroll 0 0;
    border: 2px solid #0896c5;
    padding: 20px;
    position: relative;
}

.box-modal .modal-header {
    padding: 0px 0 15px 0;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

.box-modal .modal-header h4 {
    font-weight: bold;
}

.contentn-modal {
    padding: 10px 0 20px 0;
}

.arcticmodal-close {
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 27px !important;
    position: absolute;
    right: -20px;
    top: -20px;
}

.dist-margin input {
    margin: 7px 4% 7px 0 !important;
}

.contentn-modal-home {
    background: #000;
    border: 2px solid #0896c5;
    position: relative;
}

.homevideo {
    padding: 0 !important;
}

#ajax_mainform_send input:focus,
#ajax_main_send input:focus,
.find_center input:focus,
#ajax_header_send input:focus,
#ajax_footer_send input:focus {
    border: 1px solid #27292b;
}

.seach-result h2 {
    margin: 0;
}

.map-info-window {
    background: #333;
    border-radius: 4px;
    box-shadow: 8px 8px 16px #222;
    color: #fff;
    max-width: 200px;
    max-height: 300px;
    text-align: center;
    padding: 5px 20px 10px;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
}

.map-info-window .map-info-close {
    float: right;
    cursor: pointer;
    margin-right: -5px;
    margin-left: 5px;
}

.map-info-window h5 {
    font-weight: bold;
}

.map-info-window p {
    color: #939393;
}

.info-window-content {
    max-width: 400px;
}

.copyright_info em {
    font-family: 'Times New Roman';
    font-style: italic;
}

.about_us_second h2 span {
    font-size: 38px;
    text-transform: lowercase;
}

.about_us_second h2 span sup {
    font-size: 29px;
}

.share_btn {
    border: medium none;
    min-width: auto !important;
}

.login_bg {
    background: rgba(0, 0, 0, 0) url("../img/login_bg.jpg") no-repeat scroll 0 0;
}

.f-14 {
    font-size: 14px;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    .pocket_name h2 {
        font-size: 20px;
    }
    .pocket {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .pocket_text p {
        height: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .pocket_text h4 {
        min-height: 77px;
    }
}


/* kostil some time */

@media screen and (min-width: 1200px) and (max-width: 1280px) {
    .container {
        max-width: 1000px;
    }
}


/* end kostil some time */

.pre_map_informer .m-t-0 {
    margin-top: 0;
}


/* terms and conditions */

.content_text {
    font-size: 16px;
}

.content_text ul {
    list-style: outside none disc;
    margin-left: 20px;
}

.content_text li {
    margin-bottom: 15px;
}

.content_text p {
    margin-bottom: 20px;
}

.content_text h3 {
    font-family: GothamBold;
    margin-top: 40px;
}

.ul_literal {
    list-style-type: lower-alpha !important;
}

.global-distributor-list .global-distributor-item:nth-child(odd) {
    background-color: rgba(192,192,192, 0.2);
}

.tutka:after{
    background: rgba(0, 0, 0, 0) url("../img/big-swiss-flag.png") repeat scroll 0 0;
}


.my_amazing_form .sel-rel select:valid ~ .req {
    display: block;
    /*padding-right: 25px;*/
}
.my_amazing_form .sel-rel input:valid ~ .req {
    display: block;
    /*padding-right: 25px;*/
}

.cart_icon_block i {
    background: rgba(0, 0, 0, 0) url("../img/cart_1.png") repeat scroll 0 0;
    display: inline-block;
    height: 35px;
    margin-left: 10px;
    vertical-align: sub;
    width: 35px;
    margin-top: 9px;
}

.cart_icon_block span {
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 18px;
    color: #fff;
}

.cart-contents {
    display: block;
    float: left;
    margin-right: 60px;
}


/* buy page */
.big-banner-blue-text {
    color: #2cb4db;
    font-family: GothamBold;
    font-size: 96px;
    text-transform: uppercase;
}
.full-width-important{
    width: 100% !important;
}
.or_borded {
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    font-family: GothamBold;
    font-size: 16px;
    height: 45px;
    line-height: 23px;
    margin: 0 80px;
    padding: 10px;
    vertical-align: bottom;
    width: 45px;
}
.bohb_item {
    background: #f5f5f5;
    color: #020202;
    display: inline-block;
    float: left;
    font-family: GothamBook;
    font-size: 16px;
    margin-right: 5px;
    padding: 53px 0;
    text-align: center;
    /*width: calc(33% - 86px);*/
    width: 50%;
}
.bohb_item.active {
    background: black none repeat scroll 0 0;
    color: white;
    font-family: GothamBold;
}

.boti-info-footer select {
    border-color: #9c9c9c;
    color: #27292b;
    float: left;
    margin: 7px 0;
    width: 100%;
}
.boti-info-footer select,.boti-info-footer button {
    margin: 10px 0;
}

.boti-info-footer button{
    text-align: center;
    width: 100%;
}
.boti-info-footer .prise {
    font-family: GothamBold;
    font-size: 16px;
    line-height: 16px;
    padding: 25px 0;
}
.buy-ordeer-head_blocks.pst {
    margin-right: 5px;
    width: 250px;
}

.pst .bohb_item {
    width: 100%;
}
.buy-order-t-item {
    display: flex;
    flex-flow: row wrap;
}
.boti-image {
    background: #f9f9f9 none repeat scroll 0 0;
    border-bottom: 3px solid white;
    flex-basis: 250px;
    min-height: 180px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.boti-image img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    right: 0;
    top: 0;
}
.boti-info {
    border-bottom: 3px solid #ebebeb;
    box-sizing: border-box;
    padding: 30px 0 15px 30px;
    width: calc(100% - 260px);
}
.boti-info-footer .product-price{


}
.boti-info h4 {
    margin-top: 0;
    font-size: 18px;
    font-family: GothamBold;
    margin-bottom: 2px;
}
.boti-info h4 short {
    font-size: 85%;
}
.buy-order-t-header {
    margin-bottom: 4px;
}
.bg-grey-light {
    background: #f9f9f9 none repeat scroll 0 0;
}
.boti-info-footer .product-price {
    display: inline-block;
    font-family: GothamBold;
    height: 45px;
    line-height: 45px;
    margin: 10px 0;
    vertical-align: bottom;
}
/* end buy page */
.half-width-check ul li{
    width: 50%;
}

.modal-content {
    border-radius: 0 !important;
}

.modal-content button {
    margin-top: -6px !important;
}

.modal-content button span {
    font-size: 40px;
}

#ajax_register_distributor .validation-error, #ajax_register_distributor_inq .validation-error {
    position: absolute;
    top: 61px;
    left: 0;
    font-size: 12px;
    color: red;
}

#center-block-tab{
    border-bottom: 0px !important;
}
#center-block-tab>li>a, #center-block-tab>li>a:focus{
    color: #fff!important;   
    border: none; 
    border-radius: none;
    background-color: #27292b!important;   
    background: #27292b!important;   
}

#center-block-tab>li.active>a, #center-block-tab>li.active>a:focus {  
    color: #fff;
    border: none; 
    border-radius: none;
    border-bottom: 2px solid #0896c5; 
    background-color: #27292b;   
}
#center-block-blogs-carousel .carousel-indicators {
    bottom: -10px !important;
} 

#center-blog-post-content, #center-press-release-content {
    padding: 6px;
} 
#center-block-blogs-carousel .post-img{
    display: inline-block;
} 
.center-blog-post-img {
    max-width: 120px !important;
}

#center-block-press-release-carousel .carousel-indicators {
    bottom: -10px !important;
} 


#center-block-press-release-carousel .post-img{
    display: inline-block;
} 

#center-block-blogs-carousel > div.carousel-inner{
     height: 250px;
    min-height: 250px;
}
#center-block-press-release-carousel > div.carousel-inner{
     height: 250px;
    min-height: 250px;
}
