@import "css/cleaner.css" screen;
@import "css/theme-styles.css" screen;
@import "css/styles-anton.css" screen;
@import "css/styles-den.css" screen;
@import "css/styles-nazar.css" screen;
@import "css/styles-vasia.css" screen;
@import "css/styles-yura.css" screen;
@import "css/styles-stiv.css" screen;

/*@import "css/styles-marian.css" screen;*/

/* header styles */

@import "css/header-styles.css" screen;

/* footer styles */

@import "css/footer-styles.css" screen;

/* font awesome */


/* mobile styles */

@import "css/mobile-styles.css" screen;
@import "css/font-awesome.min.css" screen;
#ajax_contact_send #cometofather input {
    margin: 7px 4% 7px 0;
}

.my_form_input {
    display: inline-block;
    position: relative;
    width: 100%;
}

.my_form_input span {
    bottom: 0;
    color: #9c9c9c;
    font-family: GothamLight;
    font-size: 14px;
    height: 16px;
    line-height: 1;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.my_amazing_form input:required {
    padding: 0 110px 0 27px;
}

.my_amazing_form input {
    width: 100%;
}

.my_amazing_form .nbtn {
    box-sizing: border-box;
    max-width: 100%;
    width: 430px;
    height: 40px;
    line-height: 1
}

.my_amazing_form .ico {
    position: absolute;
    right: 30px;
}

.my_amazing_form input:valid {
    border-color: #9c9c9c;
}

.my_amazing_form input:valid ~ .req {
    display: none;
}

.my_amazing_form .valid {
    display: none;
}

.my_amazing_form input:valid ~ .valid {
    color: green;
    display: block;
}

.my_amazing_form select:valid {
    border-color: #9c9c9c;
}

.my_amazing_form select:valid ~ .req {
    display: none;
}

.my_amazing_form select:valid ~ .valid {
    color: green;
    display: block;
}

.my_amazing_form input::-webkit-input-placeholder {
    color: #9c9c9c !important;
    font-family: GothamBook;
    opacity: 1;
}

.my_amazing_form input::-moz-placeholder {
    color: #9c9c9c !important;
    font-family: GothamBook;
    opacity: 1;
}

.my_amazing_form input:-moz-placeholder {
    color: #9c9c9c !important;
    font-family: GothamBook;
    opacity: 1;
}

.my_amazing_form input:-ms-input-placeholder {
    color: #9c9c9c !important;
    font-family: GothamBook;
    opacity: 1;
}

sub {
    top: -0.4em;
    font-size: 75%;
}

short {
    text-transform: lowercase;
}

.margin-bottom {
    margin-bottom: 40px;
}

#ajax_contact_send select {
    border-color: #9c9c9c;
    float: left;
    margin: 10px 0;
    width: 100%;
    color: #27292b;
    height: 40px;
}
