<header class="header-home">
	<div class="logotype">
		<a href="/"><img src="../../images/SLS_logo_white.svg" alt=""></a>
	</div>
	<div class="logout">
		<a href="#" class="logout--icon">
			<img src="../../images/logout.png" alt="">
		</a>
	</div>
	<div class="nav-toggle">
		<span></span>
		<span></span>
		<span></span>
	</div>
</header>
<div class="sidemenu off">
	<div class="close-menu"></div>
	<form class="search-form">
		<input type="text" placeholder="SEARCH">
		<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
	</form>
	<nav class="menu">
		<ul>
			<li><a class="active" href="#">home</a></li>
			<li><a href="#">skin</a></li>
			<li><a href="#">diet</a></li>
			<li><a href="#">sport</a></li>
			<li class="subnav">
				<a href="#">dna anti-aging <i class="fa fa-angle-down" aria-hidden="true"></i></a>
				<ul>
					<li><a href="#">How it works</a></li>
					<li><a href="#">Your biological age</a></li>
					<li><a href="#">About Suisse Life Science</a></li>
				</ul>
			</li>
			<li class="subnav">
				<a href="#">Science <i class="fa fa-angle-down" aria-hidden="true"></i></a>
				<ul>
					<li><a href="#">DNA and aging</a></li>
					<li><a href="#">DNA and diet</a></li>
				</ul>
			</li>
			<li class="subnav">
				<a href="#">Centers <i class="fa fa-angle-down" aria-hidden="true"></i></a>
				<ul>
					<li><a href="#">Age management centers</a></li>
					<li><a href="#">Providers inquiries</a></li>
				</ul>
			</li>
			<li><a href="#">about us</a></li>
			<li><a href="#">contact us</a></li>
		</ul>
		<span style="float: right"></span>
	</nav>
	<div class="side-btns">
		<a href="#" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i> LOG in</a>
		<a href="#" class="shop-btn"><span></span>shop</a>
		<a href="#" class="app appstore"><img src="../../images/appstore-light.svg" alt=""></a>
		<a href="#" class="app"><img src="../../images/g-play-light.svg" alt=""></a>
	</div>
</div>
<div class="main">

	<section class="first-screen" style="background: url(../../images/1.jpg) no-repeat;">
		<div class="page-content col-sm-7 wow fadeInRight" data-wow-duration="1s">
			<h2 class="page-title blue">A UNIQUE ANTI-AGING LIFESTYLE PROGRAM</h2>
			<p class="page-text">You’ve tried skincare, diets, training plans. But never one like this.</p>
		</div>
		<button class="page-btn  wow  bounceInUp" data-wow-duration="1s">join now <i class="join-icon"></i></button>
		<div class="scroll-down"></div>
		<a class="video-icon" href="#">Watch video</a>
	</section>

	<section class="second-screen" style="background: #0e1d35;">
	<div class="wrap-photo">
		<img  class="second-screen-photo" src="../../images/photo2.jpg" alt="">
	</div>
		<div class="longBlock">
			<div class="longBlock--first" >
				<div class="page-content col-sm-7 wow fadeInRight" data-wow-duration="1s">
					<h2 class="page-title blue">LIVE WELL. <span>GET BETTER WITH AGE.</span> <span>YOUR GENES DON’T LIE.</span></h2>

					<p class="page-text">The ﬁrst-ever Health & Wellness mobile concierge technology based on your true biological age.</p>
				</div>
			</div>
			<div class="longBlock--second">
				<div class="wow fadeInDown" data-wow-duration="1s">
					<h3>Experience <short>i</short>DDNA<sup>®</sup></h3>
					<form action="#" method="post" class="longBlock--second__subscribe subscribe">
						<input class="subscribe--input" type="email" placeholder="Enter your email" required="required">
						<button class="subscribe--submit" type="submit">Join now</button>
					</form>
				</div>
			</div>
			<div class="longBlock--third">
				<div class="page-content col-sm-7 wow fadeInRight" data-wow-duration="1s">
					<h2 class="page-title blue">How it works</span></h2>
					<div id="howItWorks" class="carousel slide" data-ride="carousel">

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="../../images/how-it-works-img.png" alt="Chania">
								<span class="count">
									1
									<h3>Join now</h3>
								</span>
								<p class="page-text">A consumer-friendly know-your-DNA service that would pair insight into your genetic make-up with a handy phone app andon-demand advanced anti-aging treatments.</p>
							</div>

							<div class="item">
								<img src="../../images/how-it-works-img.png" alt="Chania">
								<span class="count">
									1
									<h3>Join now</h3>
								</span>
								<p class="page-text">A consumer-friendly know-your-DNA service that would pair insight into your genetic make-up with a handy phone app andon-demand advanced anti-aging treatments.</p>
							</div>

							<div class="item">
								<img src="../../images/how-it-works-img.png" alt="Flower">
								<span class="count">
									1
									<h3>Join now</h3>
								</span>
								<p class="page-text">A consumer-friendly know-your-DNA service that would pair insight into your genetic make-up with a handy phone app andon-demand advanced anti-aging treatments.</p>
							</div>

							<div class="item">
								<img src="../../images/how-it-works-img.png" alt="Flower">
								<span class="count">
									1
									<h3>Join now</h3>
								</span>
								<p class="page-text">A consumer-friendly know-your-DNA service that would pair insight into your genetic make-up with a handy phone app andon-demand advanced anti-aging treatments.</p>
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#howItWorks" role="button" data-slide="prev">
							<span class="arrow-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#howItWorks" role="button" data-slide="next">
							<span class="arrow-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="third-screen" style="background: #000">
		<div class="page-content col-sm-6 wow fadeInRight" data-wow-duration="1s">
			<div id="lifestyle" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#lifestyle" data-slide-to="0" class="active"></li>
					<li data-target="#lifestyle" data-slide-to="1"></li>
					<li data-target="#lifestyle" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active" style="background-image: url('../../images/lifestyle-bg.png')">
						<h2 class="page-title blue">Genetics vs Lifestyle</h2>
						<?php echo file_get_contents("images/infographic_SLS_hp_mobile.svg"); ?>
						<div class="carousel-caption">
							<h2 class="page-title blue">Sport 1</h2>
							<h3>BIOLOGIC AGE-TRAINING PLAN, <span>MADE TO MEASURE FROM YOUR DNA.</span>
								<span>Train smarter, not harder.</span>
							</h3>
						</div>
					</div>

					<div class="item" style="background-image: url('../../images/lifestyle-bg.png')">
						<h2 class="page-title blue">Genetics vs Lifestyle 2</h2>
						<?php echo file_get_contents("images/infographic_SLS_hp_mobile.svg"); ?>
						<div class="carousel-caption">
							<h2 class="page-title blue">Sport 2</h2>
							<h3>BIOLOGIC AGE-TRAINING PLAN, <span>MADE TO MEASURE FROM YOUR DNA.</span>
								<span>Train smarter, not harder.</span>
							</h3>
						</div>
					</div>

					<div class="item" style="background-image: url('../../images/lifestyle-bg.png')">
						<h2 class="page-title blue">Genetics vs Lifestyle 3</h2>
						<?php echo file_get_contents("images/infographic_SLS_hp_mobile.svg"); ?>
						<div class="carousel-caption">
							<h2 class="page-title blue">Sport 3</h2>
							<h3>BIOLOGIC AGE-TRAINING PLAN, <span>MADE TO MEASURE FROM YOUR DNA.</span>
								<span>Train smarter, not harder.</span>
							</h3>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="scroll-down"></div>
	</section>


	<section class="fourth-screen" style="background: url(../../images/4.jpg) no-repeat;">
		<div class="page-content col-sm-6 wow fadeInRight" data-wow-duration="1s">
			<h2 class="page-title">Find a center</h2>
			<p class="page-text">Only selected anti-aging clinics and centers can provide your exclusive iDDNA®. Find one near you.</p>
		</div>
		<form action="#" method="post" class="findCenter">
			<input type="text" class="findCenter--input" placeholder="Enter country, city or ZIP">
			<button class="findCenter--submit" type="submit">Find a canter</button>
		</form>
	</section>

	<section class="fifth-screen"  style="background: url(../../images/5.jpg) no-repeat;">
		<div class="page-content col-sm-7 wow fadeInRight" data-wow-duration="1s">
			<h2 class="page-title">
				LEARN MORE ABOUT <span> HOW TO INTEGRATE</span> <span>LIFE SCIENCE IN</span> <span> YOUR BUSINESS.</span>
			</h2>
			<div class="image">
				<img src="../../images/5-image.png" alt="">
			</div>
			<h2 class="page-title blue">
				YOUR EXPERTISE, <span>POWERED BY SCIENCE.</span>
			</h2>
		</div>

	</section>

	<section class="sixth-screen" style="background: #000 url(../../images/511.jpg) no-repeat;">
		<div class="page-content col-sm-6 wow fadeInRight" data-wow-duration="1s">
			<h2 class="page-title">
				SOME PEOPLE ARE GIFTED WITH <span> MORE BEAUTY, YOUTH AND VITALITY.</span>
				<span>ARE YOU?</span>
			</h2>
		</div>
		<div class="form-wrap  wow fadeInUp" data-wow-duration="1s">
			<h4 class="form-title">Learn how your DNA can help you look and feel your best.</h4>
			<form>
				<div class="input-fields">
					<div class="input-field">
						<input type="text" placeholder="What's your first name?" >
					</div>
					<div class="input-field">
						<input type="text" placeholder="… and your last name?*" >
					</div>
					<div class="input-field">
						<input type="email" placeholder="What's your email?" >
					</div>
					<div class="input-field">
						<input type="text" placeholder="Country" >
					</div>
					<div class="input-field">
						<input type="email" placeholder="Enter your email">
					</div>
				</div>

				<span class="agree-label">By submitting, I accept the Suisse Life Science <br> <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.</span>

				<button type="submit">Get invitation</button>
			</form>
		</div>
	</section>

	<section class="seventh-screen" style="background: url(../../images/5.jpg) no-repeat;">
		<div class="page-content col-sm-8 wow fadeInRight" data-wow-duration="1s">
			<h2 class="page-title blue">Our blog </h2>
			<div class="ourBlog--carousel">
				<div>
					<img src="../../images/img-slide.jpg" alt="">
					<p>Lorem ipsum dolor sit amet.</p>
					<p><a href="#">learn more ></a></p>
				</div>
				<div>
					<img src="../../images/img-slide.jpg" alt="">
					<p>Lorem ipsum dolor sit amet.</p>
					<p><a href="#">learn more ></a></p>
				</div>
				<div>
					<img src="../../images/img-slide.jpg" alt="">
					<p>Lorem ipsum dolor sit amet.</p>
					<p><a href="#">learn more ></a></p>
				</div>
				<div>
					<img src="../../images/img-slide.jpg" alt="">
					<p>Lorem ipsum dolor sit amet.</p>
					<p><a href="#">learn more ></a></p>
				</div>
				<div>
					<img src="../../images/img-slide.jpg" alt="">
					<p>Lorem ipsum dolor sit amet.</p>
					<p><a href="#">learn more ></a></p>
				</div>
				<div>
					<img src="../../images/img-slide.jpg" alt="">
					<p>Lorem ipsum dolor sit amet.</p>
					<p><a href="#">learn more ></a></p>
				</div>
				<div>
					<img src="../../images/img-slide.jpg" alt="">
					<p>Lorem ipsum dolor sit amet.</p>
					<p><a href="#">learn more ></a></p>
				</div>
				<div>
					<img src="../../images/img-slide.jpg" alt="">
					<p>Lorem ipsum dolor sit amet.</p>
					<p><a href="#">learn more ></a></p>
				</div>
			</div>
			<h3>Follow us <span>for fresh content</span></h3>
			<div class="socials">
				<ul class="socials--list">
					<li class="socials--list__icons"><i class="fa fa-linkedin"></i></li>
					<li class="socials--list__icons"><i class="fa fa-twitter"></i></li>
					<li class="socials--list__icons"><i class="fa fa-facebook"></i></li>
					<li class="socials--list__icons"><i class="fa fa-google-plus"></i></li>
					<li class="socials--list__icons"><i class="fa fa-pinterest"></i></li>
					<li class="socials--list__icons"><i class="fa fa-instagram"></i></li>
					<li class="socials--list__icons"><i class="fa fa-youtube"></i></li>
				</ul>
			</div>
		</div>
	</section>
	<footer style="background: #000">
		<div class="logotype">
			<img src="../../images/SLS_logo_white.svg" alt="">
		</div>
		<div class="copyrights">
			<p>© 2016 All Rights Reserved. Suisse Life Science S.A.  <a href="#">Privacy & Legal</a></p>
		</div>
	</footer>
